*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
}
dialog {
  margin: auto;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  /* appearance: none; */
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#app {
  isolation: isolate;
}
